body {
    margin: 0;
    padding: 0;
    background-color: #121214;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

/*       SCROLLBAR        */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 2px;
    background: #202020;
}

/*      ERROR       */

.containerMsg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error_msg, .success_msg{
    color: #04d361;
    margin-top: 1rem;
}


/*      TOPO       */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

header .logo_sintro svg {
    width: 15rem;
}


/*      SINTRO INFO       */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container .sintroInfo {
    width: 90%;
    border: 3px solid #0088ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
}

.container .sintroInfo h1 {
    font-size: 20px;
}

.container .sintroInfo p {
    color: #0088ff;
    font-size: 20px;
}

.container .sintroInfo .packegesInfo,
.container .sintroInfo .userInfo {
    width: 90%;
}

.container .sintroInfo .userInfo::after {
    content: "";
    background-color: #0088ff80;
    display: inline-block;
    height: 1px;
    width: 90%;
    position: relative;
    vertical-align: middle;

}

.container .sintroInfo .packegesInfo .packegesNum {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/*      EDITAR E DELETAR       */

.container .editDelete {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem 0;
}

.container .editDelete .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .editDelete button {
    border: none;
    border-radius: 5px;
    width: 20rem;
    height: 3rem;
    background-color: #0088ff;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;

}

.container .editDelete button:hover {
    background-color: #0066ff;
    transition: .5s;
}


/*      ADICIONAR MATÉRIA       */

.container .addMateria {
    width: 90%;
    border: 2px solid #505050;
    border-radius: 5px;
    padding: 1rem 0;
}

.container .addMateria form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .addMateria h1 {
    font-size: 20px;
}

.container .addMateria .materiaExist,
.container .addQuestion .materiaExist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    border: 1.5px solid #0088ff;
    border-radius: 5px;
    padding: 1rem 0;
}

.container .addMateria .materiaExist div,
.container .addQuestion .materiaExist div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.container .addMateria .materiaExist div span,
.container .addQuestion .materiaExist div span {
    padding: .5rem 1rem;
}

.container .addMateria .meteriaInner {
    width: 90%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 5rem;
}

.container .addMateria .meteriaInner input {
    width: 100%;
    height: 2rem;
    background-color: #50505080;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    cursor: text;
    color: #ffffff;
}

.container .addMateria .meteriaInner input:focus {
    outline: none;
    border: 1px solid #0088ff;
    transition: .3s ease;
}

.container .addMateria .meteriaInner input::-webkit-input-placeholder {
    color: #ffffff50;
}

.container .addMateria .meteriaInner button {
    text-decoration: none;
    margin: auto;
    width: 100%;
    height: 2.36rem;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    background-color: #505050;
    color: #ffffff;
    cursor: pointer;
}

.container .addMateria .meteriaInner button:hover {
    background-color: #0088ff;
    transition: .3s;
}


/*      ADICIONAR QUESTÃO       */

.container .addQuestion {
    width: 90%;
    border: 2px solid #505050;
    border-radius: 5px;
    padding: 1rem 0;
    margin: 3rem 0 5rem 0;
}

.container .addQuestion form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .addQuestion .title {
    margin: 2rem 0 1rem 0;
}

.container .addQuestion .title h1 {
    margin: 0;
    font-size: 20px;
}

.container .addQuestion .title p {
    margin: 0;
}

.container .addQuestion .materiaExist div span:hover {
    background-color: #0088ff;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

.container .addQuestion textarea {
    width: 90%;
    background-color: #50505080;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
    cursor: text;
    color: #ffffff;
}

.container .addQuestion textarea:focus {
    outline: none;
    border: 1px solid #0088ff;
    transition: .5s;

}

.container .addQuestion textarea::-webkit-input-placeholder {
    color: #ffffff50;
}

/*       RESPOSTAS       */

.container .addQuestion .answers_container {
    width: 90%;
}

.container .addQuestion .answers_container .response {
    margin-bottom: 1.5rem;
    width: 100%;

}

.container .addQuestion .answers_container .response .responseText {
    border: 1px solid #ffffff;
    background-color: #50505080;
    border-radius: 5px;
    height: 1.3rem;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    cursor: text;
    color: #ffffff;
    outline: none;
    text-align: left;
    padding: .5rem 1rem;
    float: left;
}

.container .addQuestion .answers_container .response .responseText:focus {
    border: 1px solid #0088ff;
    transition: .5s;
}

.container .addQuestion .answers_container .response .answers {
    display: block;
    position: relative;
    margin: 1rem 0 0 0;
    width: 50%;
}


.container .addQuestion .answers_container .response .answers {
    display: block;
    position: relative;
    padding-left: 2rem;
    width: 2rem;
    float: right;
    margin: 0;
}

.container .addQuestion .answers_container .response .answers input {
    display: none;
}

.container .addQuestion .answers_container .response .answers:hover input~.checkmark {
    background-color: #4d4d57;
}

.container .addQuestion .answers_container .response .answers input:checked~.checkmark {
    background-color: #0088FF;
    transition: .5s;
}

.container .addQuestion .answers_container .response .answers .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #505050;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.container .addQuestion .answers_container .response .answers .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 8px;
    height: 12px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .5s;
}

.container .addQuestion .answers_container .response .answers input:checked~.checkmark::after {
    display: block;
}

.container .addQuestion button {
    margin: 1rem 0;
    width: 15rem;
    height: 2.5rem;
    border-radius: 5px;
    border-style: none;
    font-weight: 700;
    background-color: #505050;
    color: #ffffff;
    cursor: pointer;
}

.container .addQuestion button:hover {
    background-color: #0088ff;
    transition: .3s;
}